<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio</title>
    <link rel="stylesheet" href="../static/css/aboutme.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>
    <section id="sobre-mim">
        <img id="fabiofoto" src="../static/img/fabio1.jpg" alt="Foto do Fabio ">
        <img id="figurinha" src="../static/img/Hacker.png"   alt="Imagem de um programador"/>
        <!-- <img id="familia" src="./assets/img/familia.jpg" alt="Foto da familia do Fabio ">
        <img id="musico" src="./assets/img/musico.jpg" alt="Foto do Fabio tocando "> -->
      <!--   <img id="jiujitsu" src="./assets/img/jiujitsu.jpg" alt="Foto do Fabio no jiujitsu"> -->

        <div id="navegador">
            <nav>

                <ul id="menu">

                    <li><a href="/">Inicio</a></li>
                    <li><a href="/aboutme">Sobre mim</a></li>
                    <li><a href="/projetos">Projetos</a></li>
                    <li><a href="/habilidades">Habilidades </a></li>
                    <li><a href="/contato">Contato</a></li>

                </ul>
            </nav>
        </div> <!-- /navegador -->

   <div id="paragrafo">

        <p> "...Com meus 15 anos de experiência na área da saúde ,</p>
        <p> me surpreendo com a evolução e benefícios que a tecnologia</p>
        <p> vem inserindo em busca de salvar e melhorar vidas.</p>
        <p> Estudante DEV, já fui o "carinha que trocava teclado" ,</p>
        <p> de auxiliar de cpd para analista de negócios, fui desenvolvedor</p>
        <p> em um dos maiores hospitais do Brasil e hoje administro a área de</p>
        <p> tecnologia dentro de um Day Hospital de Oftalmologia.</p>
        <p> Busco sempre o conhecimento e novas experiências.</p>
        <p> Sou musico, marido, "jiujiteiro" e pai de dogs..."</p>

    </div> <!-- paragrafo -->

        <div id="sociais">
            <ul id="icons">
                <a href="https://www.linkedin.com/in/fabio-henrique-de-oliveira-755515188/" target=_black> <i
                        class="fa fa-linkedin-square" aria-hidden="true"></i> </a>
                <a href="https://github.com/Fhenriqueoliveira" target=_black> <i class="fa fa-github-square"
                        aria-hidden="true"></i> </a>
                <a href="https://www.instagram.com/fabinhoguitar5j/" target=_black> <i class="fa fa-instagram"
                        aria-hidden="true"></i>
                </a>

            </ul> <!-- /icons -->
        </div> <!-- /sociais -->
    </section> <!-- /intro -->
    <!-- --------------------------------------------- -->

    <script src="../static/JS/script.js"></script>

</body>

</html>