<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio</title>
    <link rel="stylesheet" href="../static/css/habilidades.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <section id="habilidades">
        <div id="navegador">
            <nav>

                <ul id="menu">

                    <li><a href="/">Inicio</a></li>
                    <li><a href="/aboutme">Sobre mim</a></li>
                    <li><a href="/projetos">Projetos</a></li>
                    <li><a href="/habilidades">Habilidades </a></li>
                    <li><a href="/contato">Contato</a></li>
                </ul>
            </nav>
        </div> <!-- /navegador -->
        <div id="grafico">
            <div class="progress-circle progress-80"><span>80</span></div>
              <h2 id="sql">SQL</h2>
            <div class="progress-circle progress-60"><span>60</span></div>               
           <h2 id="py">PYTHON</h2>
             
                <div class="progress-circle progress-40"><span>40</span></div>   
                <h2 id="html">HTML</h2>
                   <div class="progress-circle progress-20"><span>20</span></div>       
                   <h2 id="css">CSS</h2>
                      <div class="progress-circle progress-20"><span>20</span></div>            
                      <h2 id="js">JavaScript</h2>
                
        </div> <!-- grafico -->

    <div id="paragrafo">

        <p> Estudante de DEV, ja conclui o modulo de pyhton</p>
        <p> e estou fazendo o modulo de web ( HTML/CSS/JS)</p>
        <p> >> Trabalho a 6 anos com SQL <<</p>
     

    </div>
        <div id="sociais">
            <ul id="icons">
                <a href="https://www.linkedin.com/in/fabio-henrique-de-oliveira-755515188/" target=_black> <i
                        class="fa fa-linkedin-square" aria-hidden="true"></i> </a>
                <a href="https://github.com/Fhenriqueoliveira" target=_black> <i class="fa fa-github-square"
                        aria-hidden="true"></i> </a>
                <a href="https://www.instagram.com/fabinhoguitar5j/" target=_black> <i class="fa fa-instagram"
                        aria-hidden="true"></i>
                </a>

            </ul> <!-- /icons -->
        </div> <!-- /sociais -->
    </section> <!-- /intro -->
    
               
                  
    
    <script src="../static/JS/script.js"></script>
 </body>
</html>