<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>

    <section id="intro">
        <img src="../static/img/digital.png"   alt="Imagem de um programador"/>
       <div id="navegador">
        <nav>

            <ul id="menu">

                <li><a href="/">Inicio</a></li>
                <li><a href="/aboutme">Sobre mim</a></li>
                <li><a href="/projetos">Projetos</a></li>
                <li><a href="/habilidades">Habilidades </a></li>
                <li><a href="/contato">Contato</a></li>

            </ul>
        </nav>
    </div> <!-- /navegador -->
        
           
        
       
        <h1>I'm Fabio Henrique de Oliveira.</h1>

        <p class="intro-position">
            Seu trabalho vai preencher uma parte</p>
        <p>grande da sua vida, e a única maneira de</p>
        <p>ficar realmente satisfeito é fazer o que você acredita</p>
        <p>ser um ótimo trabalho. E a única maneira de fazer um excelente trabalho é amar o que você faz.</p>
        <span>Steve Jobs</span>
        </p>


        
        <div id="sociais">
            <ul id="icons">
                <a href="https://www.linkedin.com/in/fabio-henrique-de-oliveira-755515188/" target=_black> <i
                        class="fa fa-linkedin-square" aria-hidden="true"></i> </a>
                <a href="https://github.com/Fhenriqueoliveira" target=_black> <i class="fa fa-github-square"
                        aria-hidden="true"></i> </a>
                <a href="https://www.instagram.com/fabinhoguitar5j/" target=_black> <i class="fa fa-instagram"
                        aria-hidden="true"></i>
                </a>

            </ul> <!-- /icons -->
        </div> <!-- /sociais -->
    </section> <!-- /intro -->


    
    <script src="../static/JS/script.js"></script>
</body>

</html>