<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio</title>
    <link rel="stylesheet" href="../static/css/projetos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <section id="projetos">
        <div id="navegador">
            <nav>

                <ul id="menu">

                    <li><a href="/">Inicio</a></li>
                    <li><a href="/aboutme">Sobre mim</a></li>
                    <li><a href="/projetos">Projetos</a></li>
                    <li><a href="/habilidades">Habilidades </a></li>
                    <li><a href="/contato">Contato</a></li>
                </ul>
            </nav>
        </div> <!-- /navegador -->
    <div id="portifolio">    
        <div >
            <img src="../static/img/ilha.jpg" alt="ilha">
            <h2 href="https://github.com/Fhenriqueoliveira/THE_ISLAND" >THE ISLAND</h2>
            <p> Projeto final do módulo 1 de lógica de programação da Blue Edech
                Desenvolvido em parceria com Thiago Roberto.
                Trata-se de um jogo de sobrevivência, onde as ações do usuário mudam 
                o decorrer da partida (IF)

            </p>
            <a id="ilha" href="https://github.com/Fhenriqueoliveira/THE_ISLAND">Saiba Mais</a>
        </div>
        <div>
            <img src="../static/img/votacao.jpg" alt="votacao do maior goleador">
            <h2>VOTAÇÃO</h2>
            <p> Projeto para entregar na aula com sistema de votação. Nesse caso para fugir de politica fiz algo pensando em quem seria o maior goleador do Brasil!!</p>
            <a id="vota" href="https://github.com/Fhenriqueoliveira/MaiorGoleador_Blue_projeto">Saiba Mais</a>
        </div>
        <div>
            <img src="../static/img/thor.jpg" alt="Jogo de humor com o Thor">
            <h2>JOGO DO HUMOR</h2>
            <p> Projeto 1 do módulo de html/css/JS na BlueEdtech. Jogo de Humor desenvolvido com HTML e CSS. O jogo altera a imagem do personagem conforme o humor escolhido.</p>
            <a id="jogo" href="https://github.com/Fhenriqueoliveira/Projeto_humor">Saiba Mais</a>
        </div>
        <div>
            <img src="../static/img/commingson.jpg" alt="Em breve">
            <h2>EM BREVE...</h2>
            <p> Vou destinar esse espaço para que daqui para frente consiga desenvolver cada vez mais projetos e manter sempre em aberto o espaço para que nunca tenha fim essa evolução.</p>
            
        </div>

    </div> <!-- portifolio -->    
        <div id="sociais">
            <ul id="icons">
                <a href="https://www.linkedin.com/in/fabio-henrique-de-oliveira-755515188/" target=_black> <i
                        class="fa fa-linkedin-square" aria-hidden="true"></i> </a>
                <a href="https://github.com/Fhenriqueoliveira" target=_black> <i class="fa fa-github-square"
                        aria-hidden="true"></i> </a>
                <a href="https://www.instagram.com/fabinhoguitar5j/" target=_black> <i class="fa fa-instagram"
                        aria-hidden="true"></i>
                </a>

            </ul>
         </div>  <!-- /sociais -->
    </section> <!-- /projeto -->
    
    <script src="../static/JS/script.js"></script>
  
 </body>
</html>